.registration-button{
    background-color: wheat;
    position: fixed;
    top: 0px;
    right: 0px;
}
.language-select {
    background-color: wheat;
    caret-color: wheat;
}
body{
    position: relative;
    background-color: darkseagreen;
}